# C++
build/
dist/
*.o
*.a
*.so
*.dylib

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# IDEs
.vscode/
.idea/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Secrets
*.pem
*.key
secrets/